img {
    height: auto;
    width: 500px;
    border-radius: 30px;
  }
  ul:hover {
  
    list-style-type:circle;
    list-style-position: inside;
  }
  h2:hover{
    background-color: rgb(243, 243, 243);
  }
  ol:hover {
  
    list-style-type: square;
    list-style-position: inside;
  }
  